# ignore an entire directory

/out
/.idea
/.project

# ignore a file type

*.class
*.iml
twitter.properties
bonsai.properties

target/
.idea/
*.iml
.DS_STORE
/.classpath
*/.classpath
/.project
*/.project
*/.settings
bin/
